.fotinha {
    padding: 0px;
    
    width:15x;
    border:solid, rgb(0, 99, 228), 2px;
 
    
}

ion-avatar{
        width:100% !important;  
        height : 100% !important;  
        max-width: 300px !important;  //any size
        max-height: 250px !important; //any size 
        border: solid black 2px;
        }

ion-card{

    background-color: rgb(227, 237, 250);
}

h1{
   color: black !important ;
}

p{
    
    border:solid rgb(197, 222, 255) 2px;
    border-radius: 10px;
    color:black;
    padding: 10px;
    background-color: rgb(227, 237, 250);
    
 
}

h3{
    color: black !important ;
 }