<ion-header>
  <ion-toolbar>
    <ion-title>Desenvolvedores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <!-- DEV 1-->
    <ion-grid>
        <ion-row>
          <ion-col size="6">
            <div >
              <ion-avatar>
                <ion-img class="fotinha" src="/assets/img/pacu.jpg"></ion-img>
              </ion-avatar>
              </div>
          </ion-col>
          <ion-col>
              <div>
              <h3>Augusto Milão</h3>
            </div>
          </ion-col>
          <ion-col>
            <div>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure deleniti temporibus nemo pariatur expedita incidunt quidem saepe qui sint nobis soluta earum quas recusandae vitae iste, excepturi modi, atque aspernatur?</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- DEV 1-->
    </ion-card>
  <ion-card>
      <!--DEV 2-->
      <ion-grid>
          <ion-row>
            <ion-col size="6">
              <div >
               <ion-avatar>
                  <ion-img class="fotinha" src="/assets/img/tilapia.jpg" ></ion-img>
                </ion-avatar>
              </div>
            </ion-col>
            <ion-col>
                <div>
                <h3>Eliel Cruz</h3>
              </div>
            </ion-col>
            <ion-col>
              <div>
                
                
                  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure deleniti temporibus nemo pariatur expedita incidunt quidem saepe qui sint nobis soluta earum quas recusandae vitae iste, excepturi modi, atque aspernatur?</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-card>
      
  <ion-card>
          <!--DEV 3-->
          <ion-grid>
              <ion-row>
                <ion-col size="6">
                  <div >
                   <ion-avatar>
                      <ion-img class="fotinha" src="/assets/img/bagre.jpg"></ion-img>
                    </ion-avatar>
                  </div>
                </ion-col>
                <ion-col>
                    <div>
                    <h3>Higor Santos</h3>
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    
                    
                      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure deleniti temporibus nemo pariatur expedita incidunt quidem saepe qui sint nobis soluta earum quas recusandae vitae iste, excepturi modi, atque aspernatur?</p>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!--DEV 3-->
          </ion-card>

          <ion-card>
            <!--DEV 4-->
            <ion-grid>
                <ion-row>
                  <ion-col size="6">
                    <div >
                     <ion-avatar> 
                        <ion-img class="fotinha" src="/assets/img/palhaço.jpg"></ion-img>
                      </ion-avatar>
                    </div>
                  </ion-col>
                  <ion-col>
                      <div>
                      <h3>Ruan Mendonça</h3>
                    </div>
                  </ion-col>
                  <ion-col>
                    <div>
                      
                      
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure deleniti temporibus nemo pariatur expedita incidunt quidem saepe qui sint nobis soluta earum quas recusandae vitae iste, excepturi modi, atque aspernatur?</p>

                    </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <!--DEV 4-->
    </ion-card>
    
    
</ion-content>
