.fotinha {
    padding: 0px;
    
    width:15x;
    border-style: solid;
    border-color: #111;
 
    
}
.fotinha img{
    border-radius: 500px;
    border-style: solid;
    border-color: #111;
   
 
}
h1{
   color: black !important ;
}
p{
    
    border-style: solid;
    border-color: black;
    border-radius: 35px;
    color:#fff;
    padding: 10px;
    background-color: rgb(29, 108, 255);
    
 
}


ion-row{
    
}