<ion-header>
  
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/principal.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Bem Vindo!</ion-card-subtitle>
        <ion-card-title>AkiTemLanche</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sit possimus pariatur alias facilis unde deserunt perspiciatis nisi, sed temporibus ipsum iure fugiat error sunt architecto exercitationem impedit ea placeat?</p>
      </ion-card-content>
    </ion-card>
    <ion-list>
        <ion-list-header>
          <ion-label>Lanchonetes em Destaque</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of lanchonetesDestaque">
          <ion-avatar slot="start"><img src="https://vignette.wikia.nocookie.net/naruto/images/3/33/Naruto_Uzumaki_%28Parte_I_-_HD%29.png/revision/latest/scale-to-width-down/310?cb=20160316113315&path-prefix=pt-br"></ion-avatar>
          <ion-label>
            <h2>{{item.nome}}</h2>
            <h3>Nota da Lanchonete: </h3>
            <p>Descrição: {{item.descricao}}</p>
            <p>Categoria: {{item.culinaria}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
</ion-content>
