<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/principal.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Bem Vindo!</ion-card-subtitle>
        <ion-card-title>AkiTemLanche</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sit possimus pariatur alias facilis unde deserunt perspiciatis nisi, sed temporibus ipsum iure fugiat error sunt architecto exercitationem impedit ea placeat?</p>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-list-header>
        <ion-label>Lanchonetes</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start"><img src="/assets/image2vector.svg"></ion-avatar>
        <ion-label>
          <h2>Nome da Lanchonete</h2>
          <h3>Nota da Lanchonete</h3>
          <p>Descrição (Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi cumque consequatur dolore non ea quam! Commodi dolorum, architecto sint reprehenderit fuga velit quas ipsam molestiae dolores alias ducimus est vero!)</p>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-avatar slot="start"><img src="/assets/image2vector.svg"></ion-avatar>
          <ion-label>
            <h2>Nome da Lanchonete</h2>
            <h3>Nota da Lanchonete</h3>
            <p>Descrição (Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi cumque consequatur dolore non ea quam! Commodi dolorum, architecto sint reprehenderit fuga velit quas ipsam molestiae dolores alias ducimus est vero!)</p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-avatar slot="start"><img src="/assets/image2vector.svg"></ion-avatar>
            <ion-label>
              <h2>Nome da Lanchonete</h2>
              <h3>Nota da Lanchonete</h3>
              <p>Descrição (Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi cumque consequatur dolore non ea quam! Commodi dolorum, architecto sint reprehenderit fuga velit quas ipsam molestiae dolores alias ducimus est vero!)</p>
            </ion-label>
          </ion-item>
          <ion-item>
              <ion-avatar slot="start"><img src="/assets/image2vector.svg"></ion-avatar>
              <ion-label>
                <h2>Nome da Lanchonete</h2>
                <h3>Nota da Lanchonete</h3>
                <p>Descrição (Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi cumque consequatur dolore non ea quam! Commodi dolorum, architecto sint reprehenderit fuga velit quas ipsam molestiae dolores alias ducimus est vero!)</p>
              </ion-label>
            </ion-item>
    </ion-list>
</ion-content>
