<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
    <ion-title>Nova Lanchonete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card-header>
  <ion-card-subtitle>Cadastre seu estabelecimento</ion-card-subtitle>
  <ion-card-title>Insira seus dados</ion-card-title>
  </ion-card-header>
  <ion-card>
  <ion-item>
    <ion-icon slot="start" color="medium" name="finger-print"></ion-icon>
      
      <ion-input type="text"[(ngModel)]="data.id" required placeholder="Id:"></ion-input>
  </ion-item>


<ion-item>
  <ion-icon slot="start" color="medium" name="pizza"></ion-icon>
  <ion-input type="text"[(ngModel)]="data.nome" required placeholder=" Nome da Lanchonete:"></ion-input>
</ion-item>

<ion-item>
  <ion-icon slot="start" color="medium" name="cafe"></ion-icon>
<ion-label>Culinaria: </ion-label>
      <ion-select placeholder="Selecione sua profissão" [(ngModel)]="data.culinaria" required>
        <ion-select-option value="salgado">Salgado</ion-select-option>
        <ion-select-option value="doce">Doce</ion-select-option>
        <ion-select-option value="misto">Misto</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-item>
    <ion-button (click)="submitForm()">Enviar</ion-button>

  </ion-item>

</ion-card>


</ion-content>
