<ion-content color="secondary">
<ion-card style="margin-top:15em">
<ion-item>
  <ion-icon slot="start" color="medium" name="Contact"></ion-icon>
<ion-label> Email: </ion-label>
  <ion-input type="text"[(ngModel)]="email" required></ion-input>
</ion-item>
<ion-item>
    <ion-icon slot="start" color="medium" name="key"></ion-icon>
  <ion-label> Senha: </ion-label>
    <ion-input type="password"[(ngModel)]="senha" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-button  (click)="logar()">Entrar</ion-button>

  </ion-item>

</ion-card>


</ion-content>
