<ion-header>
  
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Lanchonetes
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-searchbar [(ngModel)]="pesquisa" (keyup)="procurar(pesquisa)"></ion-searchbar>
      <ion-item *ngFor="let item of lanchonetes">
        <ion-avatar slot="start"><img src="https://vignette.wikia.nocookie.net/naruto/images/3/33/Naruto_Uzumaki_%28Parte_I_-_HD%29.png/revision/latest/scale-to-width-down/310?cb=20160316113315&path-prefix=pt-br"></ion-avatar>
        <ion-label>
          <h2>{{item.nome}}</h2>
          <h3>Nota da Lanchonete: </h3>
          <p>Descrição: {{item.descricao}}</p>
          <p>Categoria: {{item.culinaria}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
