
<ion-content>
    <ion-card style="margin-top:15em">
  
    <ion-item>
      <ion-icon slot="start" color="medium" name="Contact"></ion-icon>
    <ion-label> Nome: </ion-label>
      <ion-input type="text"[(ngModel)]="data.nome" required></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" color="medium" name="key"></ion-icon>
      <ion-label> Senha: </ion-label>
        <ion-input type="password"[(ngModel)]="data.senha" required></ion-input>
      </ion-item>
      <ion-item>
       <ion-item>
          <ion-icon slot="start" color="medium" name="Contact"></ion-icon>
        <ion-label> Email: </ion-label>
          <ion-input type="text"[(ngModel)]="data.email" required></ion-input>
      </ion-item>
      <ion-item>
       
        
    <ion-button routerLink="/caduser">Cadastre-se</ion-button>
      </ion-item>
    
    </ion-card>

</ion-content>