<ion-content color="primary" >
  <ion-card style="margin-top:10em">

    <ion-item>
      <ion-icon slot="start" color="medium" name="contact"></ion-icon>
      <ion-input type="text" [(ngModel)]="data.nome" required placeholder=" Nome Completo"></ion-input>
    </ion-item>
    <ion-item>

        <ion-icon slot="start" color="medium" name="lock"></ion-icon>
      <ion-input type="password" [(ngModel)]="data.senha" required placeholder="Digite sua Senha"></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon slot="start" color="medium" name="at"></ion-icon>
      <ion-input type="text" [(ngModel)]="data.email" required placeholder="Digite seu E-mail"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click)="submitForm()">Confirmar</ion-button>
      <ion-button routerLink="/login">Retornar</ion-button>

    </ion-item>

  </ion-card>


</ion-content>